<!DOCTYPE html>
<html lang="en">
	
<head>
		<meta charset="UTF-8">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title> Wick J - Coaching, Business Training & Consulting HTML5 Template </title>


		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/Them-logo/Favicon-1.png">
		
		<!-- Main style sheet -->
		<link rel="stylesheet" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" href="css/responsive.css">

		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
	</head>
	
	<body>
	
		<div class="main-page-wrapper">

			<!-- Header Top _________________________________ -->
			<div class="top-header">
				<div class="container">
					<div class="row clear-fix">
						<div class="col-md-3 col-xs-6 float-left width-header">
							<div class="them-logo">
								<a href="#"><img src="images/Them-logo/them-logo-1.jpg" alt="logo"></a>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 float-right width-header">
							<div class="search-opson">
								<form action="#" class="search-here clear-fix">
									<input type="text" placeholder="Search Here...">
									<button><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 float-left width-header">
							<div class="header-icon-tx">
								<img src="images/Them-logo/icon-1.png" alt="icon">
								<h5><a href="#">Vermont Street,</a></h5>
								<p>Manchester Township, NJ</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 float-left width-header">
							<div class="header-icon-tx">
								<img src="images/Them-logo/icon-2.png" alt="icon">
								<h5><a href="#">example@example.com</a></h5>
								<p>Office Hour: 10:00am - 5:00pm</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Menu + Banner _________________________________ -->
			<div class="banner-ad-menu">
				
				<div class="theme-menu-fix-banner">
					<div class="container">
						<!-- Theme Main Menu ____________________________ -->
						<div class="main-menu theme-main-menu">
							<!-- Menu -->
							<nav class="navbar">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed tran3s" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
										<span class="sr-only tran3s">Toggle navigation</span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
									</button>
								</div>
								
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="dropdown-holder current-page-item Active-manu"><a href="index-2.html"> Home </a>
											<ul class="sub-menu">
												<li><a href="index-2.html" class="tran3s"> Home Version one </a></li>
												<li><a href="index-3.html" class="tran3s"> Home Version two </a></li>
											</ul>
										</li>

										<li class="dropdown-holder"><a href="#">projects</a>
											<ul class="sub-menu">
												<li><a href="projects-v1.html" class="tran3s">project Version one</a></li>
												<li><a href="projects-v2.html" class="tran3s">project Version Two</a></li>
												<li><a href="projects-v3.html" class="tran3s">project Version Three</a></li>
												<li><a href="single-projects.html" class="tran3s">Single project</a></li>
											</ul>
										</li>
									   
										<li class="dropdown-holder active"><a href="#">pages </a>
											<ul class="sub-menu">
												<li><a href="about-us.html" class="tran3s">About Us</a></li>
												<li><a href="team.html" class="tran3s">Our Team</a></li>
												<li><a href="faq.html" class="tran3s">Faq</a></li>
												<li><a href="error.html" class="tran3s">Error</a></li>
											</ul>
										</li>

										<li class="dropdown-holder"><a href="#">Services</a>
											<ul class="sub-menu">
												<li><a href="service-v1.html" class="tran3s">Services</a></li>
												<li><a href="service-v2.html" class="tran3s">Services Version two</a></li>
												<li><a href="service-details.html" class="tran3s">Service Details</a></li>
											</ul>
										</li>

										<li class="dropdown-holder"><a href="#">blog</a>
											<ul class="sub-menu">
												<li><a href="blog-v1.html" class="tran3s">Blog Version one</a></li>
												<li><a href="blog-v2.html" class="tran3s">Blog Version Two</a></li>
												<li><a href="blog-v3-singleblog.html" class="tran3s">blog details</a></li>
											</ul>
										</li>
									   
										<li class="dropdown-holder"><a href="#">Shop</a>
											<ul class="sub-menu">
												<li><a href="shop.html" class="tran3s">Shop</a></li>
												<li><a href="single-products.html" class="tran3s">Single Products</a></li>
											</ul>
										</li>
									   
										<li><a href="contact-us.html">Contact Us</a></li>

										<li class="menu-button"><a href="#" class="hvr-bounce-to-right">Free consultation <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
						</div> <!-- /.main-menu -->
					</div> <!-- /.container main-menu -->
				</div> <!-- /.theme-menu-fix-banner -->

				<!-- Enar-page-banner ____________________________ -->
				<div class="Enar-page-banner">
					<div class="Enar-page-banner-opact">
						<div class="container">
							<div>
								<h1>Company Story</h1>
								<ul>
									<li><span></span></li>
									<li><a href="index-2.html">Home</a></li>
									<li>/</li>
									<li><a href="#">About us</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> <!-- /.Enar-page-banner -->

			</div> <!-- /.banner-ad-menu -->
			
			<!-- About us ____________________________ -->
			<section class="About-us-section">
				<div class="container">
					<div class="row About-us-img-section">
						<div class="col-md-6 col-xs-12 ">
							<div class="About-us-img">
								<img src="images/about-us/img-1.jpg" alt="image">
							</div>
						</div>
						<div class="col-md-6 col-xs-12 img-text-border">
							<div class="About-us-img-text">
								<h3>Expereince the best<br>consultancy with us you<br>get never before</h3>
								<span></span>
								<p>We have experience 10 years providing business solution & with our top expert lorem ipsum gain qulity checker with your business.</p>
								<ul>
									<li><img src="images/Them-logo/signatur-1.png" alt="signatur"></li>
									<li><h6><a href="#">Rashed kabir</a></h6></li>
									<li>CEO</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row About-us-text-section">
						<div class="col-md-6 col-xs-12">
							<div class="About-us-text">
								<h3>Our Story</h3>
								<p>Our focus in on ethical and responsible lending and putting the customer’s interest at the heart of every decision we make.</p>

								<p>Since 2007, we’ve grown to become the UK’s leading alternative finance lender and have provided loans for over 80,000 hard working people just like you who have been denied access to mainstream credit.</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="About-us-text">
								<h3>Our Mission</h3>
								<p>We pride ourselves on being different from the traditional banks and payday loan companies. This is an important factor in our decision making process, applications we receive are reviewed by the employees</p>

								<p>This approach allows us to consider any extenuating circumstances such as a poor credit history, self-employed or any mortgage or council.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Numver Section ____________________________ -->
			<section class="numver-section">
				<div class="numver-section-opact">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-xs-12">
								<div class="numver-title">
									<h2>Company<br>Facts in Number</h2>
								</div>
							</div>
							<div class="col-sm-8 col-xs-12">
								<div class="numver-item clear-fix">
									<div>
										<h2><span class="timer" data-from="0" data-to="5237" data-speed="2000" data-refresh-interval="5">0</span></h2>
										<p>Proud Customers</p>
									</div>
									<div class="M-Exp-itam">
										<h2><span class="timer" data-from="0" data-to="120" data-speed="2000" data-refresh-interval="5">0</span></h2>
										<p>Expert Advisor</p>
									</div>
									<div>
										<h2>
											<span class="timer" data-from="0" data-to="367" data-speed="2000" data-refresh-interval="5">0</span>
										</h2>
										<p>Completed Projects</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Home-two Experts section ____________________________ -->
			<section class="home-two-experts-section">
				<div class="container">
					<div class="them-main-title text-center">
						<h2>Meet Our Experts</h2>
						<span></span>
						<p>We have expert team member ready to solve your problem with fast delivery</p>
					</div>

					<div class="experts-claider-wrapper">
						<div id="home-two-experts-carousel" class="owl-carousel owl-theme">
							<div class="item text-center">
								<div>
									<div class="expert-img"><img src="images/home/img-15.jpg" alt="image"></div>
									<h5><a href="team.html">Jeson Mark</a></h5>
									<span>Senior Financial Officer</span>
									<p>Jannatul fa is senior financial adviso and<br>working with us over 20 years.</p>
								</div>
							</div> <!-- / .Item -->
							<div class="item text-center">
								<div>
									<div class="expert-img"><img src="images/home/img-16.jpg" alt="image"></div>
									<h5><a href="team.html">Jannatul Fa.</a></h5>
									<span>Sells & Marketing Expert</span>
									<p>Jannatul fa is senior financial adviso and<br>working with us over 20 years.</p>
								</div>
							</div> <!-- / .Item -->
							<div class="item text-center">
								<div>
									<div class="expert-img"><img src="images/home/img-17.jpg" alt="image"></div>
									<h5><a href="team.html">Rashed Kabir</a></h5>
									<span>Design & Devevlopment Expert</span>
									<p>Jannatul fa is senior financial adviso and<br>working with us over 20 years.</p>
								</div>
							</div> <!-- / .Item -->
							<div class="item text-center">
								<div>
									<div class="expert-img"><img src="images/home/img-16.jpg" alt="image"></div>
									<h5><a href="team.html">Jannatul Fa.</a></h5>
									<span>Sells & Marketing Expert</span>
									<p>Jannatul fa is senior financial adviso and<br>working with us over 20 years.</p>
								</div>
							</div> <!-- / .Item -->
						</div>
					</div>
				</div>
			</section>

			<!-- Choose Section ____________________________ -->
			<section class="choose-section clear-fix">
				<div class="left-side float-left">
					<div class="left-side-opact clear-fix">
						<div class="left-side-content float-right">
							<div class="left-content-text">
								<div class="them-main-title">
									<h2>We Have<br>Many Reasone to<br>Choose us</h2>
									<span></span>
								</div>
								<p>You will not wrong to take our services as your business tool</p>
								<a href="#" class="hvr-bounce-to-right">Learn More</a>
							</div>
						</div>
					</div>	
				</div>
				<div class="right-side float-right home-two-right-side">
					<div class="clear-fix">
						<div class="right-side-content float-left">
							<div class="right-content-text clear-fix">
								<div class="right-side-item">
									<i class="flaticon flaticon-user"></i>
									<h4><a href="#">Expert Coach Trainer</a></h4>
									<p>Lorem ipsum dolor sit amet, dolor pr.Percipit imper brute nulla novumo amet dolo.</p>
								</div>
								<div class="right-side-item">
									<i class="flaticon flaticon-umbrella"></i>
									<h4><a href="#">Trsuted Vendor</a></h4>
									<p>Lorem ipsum dolor sit amet, dolor pr.Percipit imper brute nulla novumo amet dolo.</p>
								</div>
								<div class="right-side-item">
									<i class="flaticon flaticon-medal"></i>
									<h4><a href="#">Award Winner</a></h4>
									<p>Lorem ipsum dolor sit amet, dolor pr.Percipit imper brute nulla novumo amet dolo.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Home Client Claider ____________________________ -->
			<section class="home-client-claider">
				<div class="container">
					<div class="them-main-title text-center">
						<h2>What Client Say</h2>
						<span></span>
					</div>

					<div class="client-claider-wrapper">
						<div id="client-claider-carousel" class="owl-carousel owl-theme">
							<div class="item">
								<div>
									<p>Having never worked with a life coach before, I really did not know what to expect. Wow, was I surprised! I found out I could make it whatever I needed.</p>
									<div>
										<span></span>
										<img src="images/Them-logo/icon-6.png" alt="logo">
										<h6><a href="#">Roman Empire</a></h6>
										<i>Co-Founder of UnifyTheme</i>
									</div>
								</div>
							</div> <!-- / .Item -->

							<div class="item">
								<div>
									<p>Duis aute irure dolor in reprehenderit in voluptate lit esse cillum dolore eu fugiat nulla pariatur. Excepteuri sint occaecat cupidatat non proident.</p>
									<div>
										<span></span>
										<img src="images/Them-logo/icon-6.png" alt="logo">
										<h6><a href="#">Mahfuz Riad</a></h6>
										<i>Co-Founder of UnifyTheme</i>
									</div>
								</div>
							</div> <!-- / .Item -->

							<div class="item">
								<div>
									<p>Having never worked with a life coach before, I really did not know what to expect. Wow, was I surprised! I found out I could make it whatever I needed.</p>
									<div>
										<span></span>
										<img src="images/Them-logo/icon-6.png" alt="logo">
										<h6><a href="#">Abdur Rob</a></h6>
										<i>Co-Founder of UnifyTheme</i>
									</div>
								</div>
							</div> <!-- / .Item -->
						</div>
					</div>	<!-- / .HOME-Our-Blog-Slid -->
				</div>
			</section>

			<!-- home Logo Slide ____________________________ -->
			<section class="home-logo-slide">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<div class="them-main-title">
								<h2>Who<br>Behind us</h2>
								<span></span>
							</div>
						</div>
						<div class="col-md-8 col-xs-12">
							<div class="logo-claider-wrapper">
								<div id="logo-claider-carousel" class="owl-carousel owl-theme">
									<div class="item">
										<div>
											<img src="images/home/slide-logo-1.jpg" alt="logo">
										</div>
									</div> <!-- / .Item -->
									<div class="item">
										<div>
											<img src="images/home/slide-logo-2.jpg" alt="logo">
										</div>
									</div> <!-- / .Item -->
									<div class="item">
										<div>
											<img src="images/home/slide-logo-3.jpg" alt="logo">
										</div>
									</div> <!-- / .Item -->
								</div>
							</div> <!-- / .logo-claider-wrapper -->
						</div>
					</div>
				</div>
			</section>

			<!-- home Footer section ____________________________ -->
			<footer class="them-footer-section">
				<div class="footer-button-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-9 col-xs-8">
								<h3>Have any question or need any business consultation?</h3>
							</div>
							<div class="col-sm-3  col-xs-4">
								<a href="contact-us.html" class="hvr-bounce-to-right">Contact Now!!</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-section">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-one">
									<a href="#" class="footre-logo"><img src="images/Them-logo/them-logo-v2.jpg" alt="logo"></a>
									<p>Lorem ipsum dolor  amet natum latine cosa at quo, suas labore saperet  there any quote for write lore latineu suasa sample lorem dummy text.</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-two">
									<h3>Our Services</h3>
									<ul>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Business Consulting</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Business Performance</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Strategic Marketing Process</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Leadership & Personal<br>Development</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Marketing Consulting</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-three">
									<h3>Latest News</h3>
									<ul>
										<li>
											<h6><a href="#">How Can be Successfull<br>in Market Place..</a></h6>
											<i>07 Jun, 2019  /  Business</i>
										</li>
										<li>
											<h6><a href="#">Business Growth Depends<br>on Your Marketing</a></h6>
											<i>07 Jun, 2019  /  Business</i>
										</li>
										<li>
											<h6><a href="#">Expert Will help in Your..</a></h6>
											<i>07 Jun, 2019  /  Business</i>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-four">
									<h3>Our Address</h3>
									<span>Vermont Street, Manchester Township, NJ</span>
									<span>(741) 800-2117</span>
									<span>example@example.com</span>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom-item">
						<div class="container">
							<div class="row">
								<div class="col-xs-6">
									<p>Copyright <a href="#">Codex</a> @ 2019</p>
								</div>
								<div class="col-xs-6">
									<div class="clear-fix">
										<div class="float-right privacy-item">
											<h6>Privacy & Policy</h6> | <h6><a href="#">FAQ’s</a></h6> | <h6><a href="#">Shop</a></h6> 
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.footer-section -->
			</footer> <!-- /.them-footer-section -->

		</div> <!-- /.main-page-wrapper -->
		

		<!-- Scroll Top Button -->
		<button class="scroll-top tran7s p-color-bg">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>

		<!-- pre loader  -->
	 	<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
	


		<!-- js file -->
		<!-- Main js file/jquery -->
		<script src="vendor/jquery-2.2.3.min.js"></script>
		<!-- bootstrap-select.min.js -->
		<script src="vendor/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>
		<!-- bootstrap js -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- camera js -->
		<script src="vendor/Camera-master/scripts/camera.min.js"></script>
		<script src="vendor/Camera-master/scripts/jquery.easing.1.3.js"></script>
		<!-- Owl carousel -->
		<script src="vendor/OwlCarousel2/dist/owl.carousel.min.js"></script>
		<!-- appear & countTo -->
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.countTo.js"></script>
		<!-- fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Gallery - isotop -->
		<script type="text/javascript" src="vendor/isotope.pkgd.min.js"></script>
		<!-- WOW js -->
		<script type="text/javascript" src="vendor/WOW-master/dist/wow.min.js"></script>
		<!-- Style js -->
		<script src="js/custom.js"></script>
		<!-- map script js -->
		<script type="text/javascript" src="js/map-script.js"></script>

	</body>
</html>