<!DOCTYPE html>
<html lang="en">
	
<head>
		<meta charset="UTF-8">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title> Wick J - Coaching, Business Training & Consulting HTML5 Template </title>


		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/Them-logo/Favicon-1.png">
		
		<!-- Main style sheet -->
		<link rel="stylesheet" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" href="css/responsive.css">

		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
	</head>
	
	<body>
	
		<div class="main-page-wrapper">

			<!-- Header Top _________________________________ -->
			<div class="top-header">
				<div class="container">
					<div class="row clear-fix">
						<div class="col-md-3 col-xs-6 float-left width-header">
							<div class="them-logo">
								<a href="#"><img src="images/Them-logo/them-logo-1.jpg" alt="logo"></a>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 float-right width-header">
							<div class="search-opson">
								<form action="#" class="search-here clear-fix">
									<input type="text" placeholder="Search Here...">
									<button><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 float-left width-header">
							<div class="header-icon-tx">
								<img src="images/Them-logo/icon-1.png" alt="icon">
								<h5><a href="#">Vermont Street,</a></h5>
								<p>Manchester Township, NJ</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 float-left width-header">
							<div class="header-icon-tx">
								<img src="images/Them-logo/icon-2.png" alt="icon">
								<h5><a href="#">example@example.com</a></h5>
								<p>Office Hour: 10:00am - 5:00pm</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Menu + Banner _________________________________ -->
			<div class="banner-ad-menu">
				
				<div class="theme-menu-fix-banner">
					<div class="container">
						<!-- Theme Main Menu ____________________________ -->
						<div class="main-menu theme-main-menu">
							<!-- Menu -->
							<nav class="navbar">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed tran3s" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
										<span class="sr-only tran3s">Toggle navigation</span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
									</button>
								</div>
								
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="dropdown-holder current-page-item Active-manu"><a href="index-2.html"> Home </a>
											<ul class="sub-menu">
												<li><a href="index-2.html" class="tran3s"> Home Version one </a></li>
												<li><a href="index-3.html" class="tran3s"> Home Version two </a></li>
											</ul>
										</li>

										<li class="dropdown-holder"><a href="#">projects</a>
											<ul class="sub-menu">
												<li><a href="projects-v1.html" class="tran3s">project Version one</a></li>
												<li><a href="projects-v2.html" class="tran3s">project Version Two</a></li>
												<li><a href="projects-v3.html" class="tran3s">project Version Three</a></li>
												<li><a href="single-projects.html" class="tran3s">Single project</a></li>
											</ul>
										</li>
									   
										<li class="dropdown-holder"><a href="#">pages </a>
											<ul class="sub-menu">
												<li><a href="about-us.html" class="tran3s">About Us</a></li>
												<li><a href="team.html" class="tran3s">Our Team</a></li>
												<li><a href="faq.html" class="tran3s">Faq</a></li>
												<li><a href="error.html" class="tran3s">Error</a></li>
											</ul>
										</li>

										<li class="dropdown-holder"><a href="#">Services</a>
											<ul class="sub-menu">
												<li><a href="service-v1.html" class="tran3s">Services</a></li>
												<li><a href="service-v2.html" class="tran3s">Services Version two</a></li>
												<li><a href="service-details.html" class="tran3s">Service Details</a></li>
											</ul>
										</li>

										<li class="dropdown-holder"><a href="#">blog</a>
											<ul class="sub-menu">
												<li><a href="blog-v1.html" class="tran3s">Blog Version one</a></li>
												<li><a href="blog-v2.html" class="tran3s">Blog Version Two</a></li>
												<li><a href="blog-v3-singleblog.html" class="tran3s">blog details</a></li>
											</ul>
										</li>
									   
										<li class="dropdown-holder active"><a href="#">Shop</a>
											<ul class="sub-menu">
												<li><a href="shop.html" class="tran3s">Shop</a></li>
												<li><a href="single-products.html" class="tran3s">Single Products</a></li>
											</ul>
										</li>
									   
										<li><a href="contact-us.html">Contact Us</a></li>

										<li class="menu-button"><a href="#" class="hvr-bounce-to-right">Free consultation <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
						</div> <!-- /.main-menu -->
					</div> <!-- /.container main-menu -->
				</div> <!-- /.theme-menu-fix-banner -->

				<!-- Enar-page-banner ____________________________ -->
				<div class="Enar-page-banner">
					<div class="Enar-page-banner-opact">
						<div class="container">
							<div>
								<h1>Single Products</h1>
								<ul>
									<li><span></span></li>
									<li><a href="index-2.html">Home</a></li>
									<li>/</li>
									<li><a href="#">Shop</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> <!-- /.Enar-page-banner -->

			</div> <!-- /.banner-ad-menu -->
			
			<!-- Shop Single products ____________________________ -->
			<section class="Single-products">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
							<div class="single-shop-products">
								<div class="single-product-details clear-fix">
									<div class="image float-left">
										<img src="images/shop/img-vig-1.jpg" alt="">
										<ul>
											<li><img src="images/SHOP/4.html" alt=""></li>
											<li><img src="images/SHOP/5.html" alt=""></li>
											<li><img src="images/SHOP/6.html" alt=""></li>
										</ul>
									</div> <!-- /.image -->
									<div class="info float-left">
										<h5>Grass Timmer</h5>
	
										<ul class="rating">
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
											<li>(23 Review)</li>
											
										</ul>
										<strong>$36</strong>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesett industry. Lorem Ipsum has been the industry's sta dumm ever since 1500s, when an unknown printer galley type and scrambled 
										</p>
										<div class="clear-fix">
											<div class="quantity float-left">
												<input type="number" placeholder="02" min="1">
											</div> <!-- /.quantity -->

											<div class="color-show float-left">
												<a href="#" class="add-cart tran3s">ADD TO CART</a>
											</div>
										</div>
									</div> <!-- /.info -->
								</div> <!-- /.single-product-details -->

								<div class="review-tab">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home">Description</a></li>
										<li><a data-toggle="tab" href="#menu1">Reviews</a></li>
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane fade in active">
											<h5> Product Details </h5>
									    	<p>
									    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc pharetra laoreet eget mauris. Donec eget fermentum libero, ac aliquet lectus. Aliquam erat volutpat. Fusce venenatis placer euismod. Nulla aliquam sed ex et dictum. Integer laoreet nisl vitae urna vehicula, vitae iaculis leo pretium.
									    	</p>
										</div>
									  	<div id="menu1" class="tab-pane fade">
									  		<h5> Product Details </h5>
									    	<p>
									    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non mattis nulla, in ultrices diam. Curabitur nec pharetra nunc. Nunc nec pellentesque nisl. Ut non mauris bibendum nunc pharetra laoreet eget mauris. Donec eget fermentum libero, ac aliquet lectus. Aliquam erat volutpat. Fusce venenatis placer euismod. Nulla aliquam sed ex et dictum. Integer laoreet nisl vitae urna vehicula, vitae iaculis leo pretium.
									    	</p>
									  	</div>
									</div>
								</div>

								<div class="related-product all-product-wrapper">
									<h5>Releted Products</h5>
									<div class="">
										<div id="related-product-slider-carousel" class="owl-carousel owl-theme related-product-slider">
											<div class="item">
												<div class="single-item-Wrapper">
													<div class="shop-img-item">
														<img src="images/shop/img-1.jpg" alt="image">
													</div>
													<div class="single-Text-item">
														<h5> Grass Timmer </h5>
														<div class="clear-fix">
															<span> $36 </span>
															<ul>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
															</ul>
														</div>
														<a href="#" class="hvr-bounce-to-right">ADD TO CART</a>
													</div>
												</div> <!-- /.single-item-Wrapper-->
											</div> <!-- /.col- -->
											<div class="item">
												<div class="single-item-Wrapper">
													<div class="shop-img-item">
														<img src="images/shop/img-2.jpg" alt="image">
													</div>
													<div class="single-Text-item">
														<h5> Grass Timmer </h5>
														<div class="clear-fix">
															<span> $36 </span>
															<ul>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
															</ul>
														</div>
														<a href="#" class="hvr-bounce-to-right">ADD TO CART</a>
													</div>
												</div> <!-- /.single-item-Wrapper-->
											</div> <!-- /.col- -->
											<div class="item">
												<div class="single-item-Wrapper">
													<div class="shop-img-item">
														<img src="images/shop/img-3.jpg" alt="image">
													</div>
													<div class="single-Text-item">
														<h5> Grass Timmer </h5>
														<div class="clear-fix">
															<span> $36 </span>
															<ul>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
															</ul>
														</div>
														<a href="#" class="hvr-bounce-to-right">ADD TO CART</a>
													</div>
												</div> <!-- /.single-item-Wrapper-->
											</div> <!-- /.col- -->
											<div class="item">
												<div class="single-item-Wrapper">
													<div class="shop-img-item">
														<img src="images/shop/img-4.jpg" alt="image">
													</div>
													<div class="single-Text-item">
														<h5> Grass Timmer </h5>
														<div class="clear-fix">
															<span> $36 </span>
															<ul>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
															</ul>
														</div>
														<a href="#" class="hvr-bounce-to-right">ADD TO CART</a>
													</div>
												</div> <!-- /.single-item-Wrapper-->
											</div> <!-- /.col- -->
											<div class="item">
												<div class="single-item-Wrapper">
													<div class="shop-img-item">
														<img src="images/shop/img-5.jpg" alt="image">
													</div>
													<div class="single-Text-item">
														<h5> Grass Timmer </h5>
														<div class="clear-fix">
															<span> $36 </span>
															<ul>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star" aria-hidden="true"></i></li>
																<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
															</ul>
														</div>
														<a href="#" class="hvr-bounce-to-right">ADD TO CART</a>
													</div>
												</div> <!-- /.single-item-Wrapper-->
											</div> <!-- /.col- -->
										</div> <!-- /.related-product-slider -->
									</div> <!-- /.row -->
								</div> <!-- /.related-product -->
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 single-SHOP-MARGIN-top">
							<div class="news-Sidebar-item-wrapper">
								<form action="#" class="clear-fix">
									<input type="text" placeholder="Search Here..">
									<button class="tran3s"><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
								<div class="Categories">
									<h3>Categories</h3>
									<ul>
										<li><a href="#">Budget</a></li>
										<li><a href="#">Marketing Skill & Growth</a></li>
										<li><a href="#">Investment Plan</a></li>
										<li><a href="#">Business</a></li>
										<li><a href="#">Finance & Acounting</a></li>
									</ul>
								</div>
							</div>

							<div class="sidebar-price">
								<h3>Filters</h3>
								<div class="price-ranger">
									<div class="ranger-min-max-block clearfix">
										<div class="col-xs-6">
											<label>From</label>
											<input type="text" class="min" readonly> 
										</div>
										<div class="col-xs-6">
											<label>To</label>
											<input type="text" class="max" readonly>
										</div>
									</div>
									<div id="slider-range"></div>

									<button class="button-two hvr-bounce-to-right">Apply filters</button>
								</div> <!-- /price-ranger -->
							</div> <!-- /.sidebar-price -->
							
							<div class="sidebar-popular-product">
								<h3>Populer Products</h3>

								<div class="single-popular-product clearfix">
									<img src="images/shop/1.jpg" alt="image" class="float-left">
									<div class="product float-left">
										<h6><a href="#" class="tran3s">Grass Trimmer</a></h6>
										<ul>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
										</ul>
										<strong>$73</strong>
									</div> <!-- /.product -->
								</div> <!-- /.single-popular-product -->
								<div class="single-popular-product clearfix">
									<img src="images/shop/2.jpg" alt="image" class="float-left">
									<div class="product float-left">
										<h6><a href="#" class="tran3s">Garden Golves</a></h6>
										<ul>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
										</ul>
										<strong>$65</strong>
									</div> <!-- /.product -->
								</div> <!-- /.single-popular-product -->
								<div class="single-popular-product clearfix">
									<img src="images/shop/3.jpg" alt="image" class="float-left">
									<div class="product float-left">
										<h6><a href="#" class="tran3s">Garden Hose</a></h6>
										<ul>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star" aria-hidden="true"></i></li>
											<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
										</ul>
										<strong>$37</strong>
									</div> <!-- /.product -->
								</div> <!-- /.single-popular-product -->
							</div> <!-- /.sidebar-popular-product -->
						</div>
					</div>
				</div>
			</section>

			<!-- home Footer section ____________________________ -->
			<footer class="them-footer-section">
				<div class="footer-button-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-9 col-xs-8">
								<h3>Have any question or need any business consultation?</h3>
							</div>
							<div class="col-sm-3  col-xs-4">
								<a href="contact-us.html" class="hvr-bounce-to-right">Contact Now!!</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-section">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-one">
									<a href="#" class="footre-logo"><img src="images/Them-logo/them-logo-v2.jpg" alt="logo"></a>
									<p>Lorem ipsum dolor  amet natum latine cosa at quo, suas labore saperet  there any quote for write lore latineu suasa sample lorem dummy text.</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-two">
									<h3>Our Services</h3>
									<ul>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Business Consulting</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Business Performance</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Strategic Marketing Process</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Leadership & Personal<br>Development</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Marketing Consulting</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-three">
									<h3>Latest News</h3>
									<ul>
										<li>
											<h6><a href="#">How Can be Successfull<br>in Market Place..</a></h6>
											<i>07 Jun, 2019  /  Business</i>
										</li>
										<li>
											<h6><a href="#">Business Growth Depends<br>on Your Marketing</a></h6>
											<i>07 Jun, 2019  /  Business</i>
										</li>
										<li>
											<h6><a href="#">Expert Will help in Your..</a></h6>
											<i>07 Jun, 2019  /  Business</i>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-xs-6 footer-item">
								<div class="footer-item-four">
									<h3>Our Address</h3>
									<span>Vermont Street, Manchester Township, NJ</span>
									<span>(741) 800-2117</span>
									<span>example@example.com</span>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom-item">
						<div class="container">
							<div class="row">
								<div class="col-xs-6">
									<p>Copyright <a href="#">Codex</a> @ 2019</p>
								</div>
								<div class="col-xs-6">
									<div class="clear-fix">
										<div class="float-right privacy-item">
											<h6>Privacy & Policy</h6> | <h6><a href="#">FAQ’s</a></h6> | <h6><a href="#">Shop</a></h6> 
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.footer-section -->
			</footer> <!-- /.them-footer-section -->

		</div> <!-- /.main-page-wrapper -->
		

		<!-- Scroll Top Button -->
		<button class="scroll-top tran7s p-color-bg">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>

		<!-- pre loader  -->
	 	<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
	


		<!-- js file -->
		<!-- Main js file/jquery -->
		<script src="vendor/jquery-2.2.3.min.js"></script>
		<!-- bootstrap-select.min.js -->
		<script src="vendor/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>
		<!-- bootstrap js -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- camera js -->
		<script src="vendor/Camera-master/scripts/camera.min.js"></script>
		<script src="vendor/Camera-master/scripts/jquery.easing.1.3.js"></script>
		<!-- Owl carousel -->
		<script src="vendor/OwlCarousel2/dist/owl.carousel.min.js"></script>
		<!-- appear & countTo -->
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.countTo.js"></script>
		<!-- fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Gallery - isotop -->
		<script type="text/javascript" src="vendor/isotope.pkgd.min.js"></script>
		<!-- WOW js -->
		<script type="text/javascript" src="vendor/WOW-master/dist/wow.min.js"></script>
		<!-- js ui -->
		<script src="vendor/jquery-ui/jquery-ui.min.js"></script>
		<!-- Style js -->
		<script src="js/custom.js"></script>
		<!-- map script js -->
		<script type="text/javascript" src="js/map-script.js"></script>

	</body>

</html>